$white: white;
$green-range-color: #005B73;
//это цвета которые не относиться к классам ниже или не имели названия в фигме

$n1-gray-color: #545863;
$n2-green-color: #083E4C;
$n3-halfColor50-green-color: rgba(8, 62, 76, 0.5);
$n4-activated-green-color: #005B73;
$n5-label-white-gray-color: #F1F5F5;
//n = наметкин + номер который указан в названии

$vb1-dark-color: #3D4543;
$vb2-light-gray-color: #F5F7F5;
$vb3-halfColor70-light-gray-color: rgba(255, 255, 255, 0.7);
$vb4-textLight-gray-color: #778478;
//vb = Very на ботанической + мой номер чтобы не запутаться
